.default-page {
    margin-top: 100px;
}

.page-content {
    .heading-record {
        margin: 0;
        margin-top: 10px;
        &:after {
            content: '';
            display: block;
            width: 80px;
            height: 3px;
            background: $gradident-overlay;
            margin-top: 5px;
        }
    }
    .text-record {
        > p, h3,h4,h5,h6,li, div {
            margin-top: 10px;
            margin-bottom: 0px;
        }
        > p, li {
            font-size: 14px;
        }
        > h3 {
            font-size: 18px;
        }
        > h4 {
            font-size: 16px;
        }
    }
}

.page-tab-items {
    .page-tab-item {
        background: $primary;
        color: $light;
        font-size: 14px;
        > i {
            transform: rotate(0deg);
            transition: all 0.25s ease;
        }
        .page-tab-item-icon {
            margin-right: 10px;
        }
        .page-tab-nested-items {
            margin-left: 10px;
            transition: all 0.25s ease;
            opacity: 0;
            height: 0;
            margin-top: 0;
            visibility: hidden;
        }
        .page-tab-nested-items.active {
            margin-top: 10px;
            visibility: visible;
            opacity: 1;
            height: auto;
        }
        a {
            &:after {
                content: '';
                display: block;
                visibility: hidden;
                width: 0px;
                height: 0px;
                background: $light;
                margin-top: 0px;
                margin-left: 15px;
                transition: all 0.25s ease;
                overflow: hidden;
            }
        }
    }
    .tab-active {
        > a {
            &:after {
                visibility: visible;
                width: 40px;
                margin-top: 5px;
                height: 3px;
            }
        }
    }
    .page-tab-item.active {
        > i {
            transform: rotate(90deg);
        }
    }
}

// .page-nested-tabs {
//     .nested-tab-title {
//         text-align: center;
//     }
//     .nested-tab-items {
//         > li {
           
//            padding: 8px 12px;
//            color: $dark;
//         }
//         .nested-tab-item {
//             margin-left: 25px;
//         }
//         .nested-tab-item.active {
//             background: $primary;
//             color: $white;
//         }
//     }
// }